# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List some data science tools
* Evaluate some arithmetic expressions

__Some of the popular languages that Data Scientists use are:__
1. Python
2. R
3. SQL

__Some of the commonly used libraries used by Data Scientists include:__
1. Numpy
2. ScikitLearn
3. matplotlib

__Here a table of data science tools__

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| Jupyter Lab |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author 
Abdoul Aziz Sy NIANG